# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Battleship/*
!/Battleship/task/
/Battleship/task/*
!/Battleship/task/src

# Project exclude paths
/Topics/Custom exceptions/Checked exception with constructor/out/
/Topics/Custom exceptions/Checked exception with constructor/out/production/classes/
/Topics/Throwing exceptions/Theory/out/
/Topics/Throwing exceptions/Theory/out/production/classes/